$default_font: 'Roboto', sans-serif;
$accent: orange;
$menu_font_color: #9a9a9a;
$heading_font_color: #1b1b1b;
$font_color: #303030;
$accent_font_color: #ff5959;
$callback_font_color: #1cb531;
$personal_area_font_color: #00a1dc;
$arrows_color: #ff623a;
$banner_controls_color: #ff5625;
$button_color: #ff572d;
$border_color: #d9f1fa;
$merchandise_button: #00c1ae;
